apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  namespace: monitoring
  labels:
    grafana_datasource: "1"
data:
  influxdb.yaml: |
    apiVersion: 1
    datasources:
      - name: InfluxDB-k6
        uid: influxdb-k6
        type: influxdb
        access: proxy
        url: http://${INFLUXDB_HOST}:${INFLUXDB_PORT}
        database: ${INFLUXDB_DB}
        user: ${INFLUXDB_ADMIN_USER}
        secureJsonData:
          password: ${INFLUXDB_ADMIN_PASSWORD}
        isDefault: true
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.monitoring.svc.cluster.local:9090
        isDefault: false
        #editable: false  
