apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  namespace: monitoring
  labels:
    grafana_datasource: "1"
data:
  influxdb.yaml: |
    apiVersion: 1
    datasources:
      - name: InfluxDB-k6
        type: influxdb
        access: proxy
        url: ${INFLUXDB_URL} #http://influxdb.monitoring.svc.cluster.local:8086
        database: $INFLUXDB_DB
        user: $INFLUXDB_ADMIN_USER
        secureJsonData:
          password: $INFLUXDB_ADMIN_PASSWORD
        isDefault: true
        version: 1
        editable: true